Chess/Chess.Domain/bin/Debug/Chess.Domain.dll.VisualState.xml
ChessTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ChessTests/obj/Debug/ChessTests.csproj.FileListAbsolute.txt
ChessTests/bin/
ChessTests/obj/
Chess/Chess.Domain/bin/
Chess/Chess.Domain/obj/
